body {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0F1923), color-stop(100%,#1F282F));
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
canvas {
	margin: 0 auto;
	display: block;
	position: relative;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#city {
	color: #fff;
	font-family: "Apercu", "Helvetica Neue", Helvetica;
	font-weight: 300;
	font-size: 54px;
	top: 80px;
	left: 50%;
	text-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
}